<!-- Sidebar -->
<div
    [ngClass]="{ active: isToggled }"
    class="settings-sidebar bg-white box-shadow"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="row">
        <div class="col-3">
            <div class="p-20 d-flex align-items-center">
                <button
                    (click)="toggleTheme()"
                    class="switch-btn btn btn-primary"
                    [class.active]="themeService.isDark()"
                >
                </button>
                <span class="d-block mb-0 fw-medium ml-30 align-self-center">
                    Dark Mode
                </span>
            </div>
        </div>
        <div class="col-3">
            <div class="p-20 d-flex align-items-center">
                <button
                (click)="toggleSidebarTheme()"
                class="switch-btn"
                [class.active]="themeService.isSidebarDark()"
                ></button>
                <span class="d-block mb-0 fw-medium ml-30 align-self-center"> Only Sidebar Dark </span>
            </div>
        </div>
        <div class="col-3">
            <div class="p-20 d-flex align-items-center ">
                <button
                (click)="toggleHeaderTheme()"
                class="switch-btn"
                [class.active]="themeService.isHeaderDark()"
                ></button>
                <span class="d-block mb-0 fw-medium ml-30 align-self-center"> Only Header Dark </span>
            </div>
        </div>
        <div class="col-3">
            <div class="p-20 d-flex align-items-center">
                <button
                (click)="toggleHideSidebarTheme()"
                class="switch-btn"
                [class.active]="themeService.isHideSidebar()"
                ></button>
                <span class="d-block mb-0 fw-medium ml-30 align-self-center"> Hide Sidebar </span>
            </div>
        </div>
    </div>
</div>
