<mat-card
    class="daxa-card users-card mb-25 border-radius bg-white border-none d-block"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Employee Details List
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <!-- <form class="search-box position-relative mr-5">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search here..."
                    (keyup)="applyFilter($event)" #input>
            </form> -->
            <button mat-flat-button extended class="daxa" style="float: right; margin-top: 0; margin-left: 5px;" (click)="redirectToAddEmployee()">
                <mat-icon>add</mat-icon>
                Add New Employee
            </button>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="to-do-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">
                    <!-- Table content here -->
                    <ng-container matColumnDef="#">
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let element">{{element.index}}</td>
                    </ng-container>
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="user-info d-flex align-items-center">
                                <div class="image">
                                    <img src="https://api.cesociety.in{{element.profile_image}}" alt="user-image">
                                </div>
                                <div class="info">
                                    <span class="title text-black d-block">
                                        {{element.empname}}
                                    </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="clientname">
                        <th mat-header-cell *matHeaderCellDef>Client Name</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge pr-2 d-inline-block" *ngFor="let c of element.clients">
                                {{ c }}
                            </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="totalclients">
                        <th mat-header-cell *matHeaderCellDef>Total Clients</th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge warning pr-2 d-inline-block">
                                {{element.numberofclients}}
                            </span>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
        <!-- <div class="users-table">
            <div class="table-responsive" *ngIf="!loading; else loader">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="fw-medium text-black">
                                #
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Name
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Contact
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Email
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Birthday
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Role
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Status
                            </th>
                            <th scope="col" class="fw-medium text-black">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of paginateData; let i=index">
                            <td class="text-body">{{s.index}}</td>
                            <td>
                                <div class="info d-flex align-items-center">
                                    <div class="image">
                                        <img src="https://api.cesociety.in{{s.profile_image}}" alt="user-image">
                                    </div>
                                    <span class="d-block fw-medium">
                                        {{s.name}}
                                    </span>
                                </div>
                            </td>
                            <td class="text-body">
                                {{s.email}}
                            </td>
                            <td class="text-body">
                                {{s.contact}}
                            </td>
                            <td class="text-body">
                                {{s.birthday_date}}
                            </td>
                            <td class="text-body">
                                {{s.role}}
                            </td>
                            <td>
                                <span class="daxa-badge d-inline-block">
                                    Active
                                </span>
                            </td>
                            <td>
                                <div class="action-info d-flex align-items-center justify-content-end">
                                    <button type="button" class="text-daxa" mat-button matTooltip="Edit" matTooltipPosition="above">
                                        <i class="material-symbols-outlined">
                                            visibility
                                        </i>
                                    </button>
                                    <button type="button" class="text-body" mat-button matTooltip="View" matTooltipPosition="above">
                                        <i class="material-symbols-outlined">
                                            edit
                                        </i>
                                    </button>
                                    <button type="button" class="text-body" mat-button matTooltip="Delete" matTooltipPosition="above">
                                        <i class="material-symbols-outlined">
                                            delete
                                        </i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <ng-template #loader>
                            <div class="loader-container"> 
                                <mat-card-content style="position: relative; left: 44%">
                                    <mat-spinner></mat-spinner>
                                </mat-card-content>
                            </div>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div> -->
    </mat-card-content>
</mat-card>