.mat-mdc-card {
    &.daxa-card {
        &.to-do-list-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                }
                .to-do-list-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                padding-right: 0;
                            }
                        }
                        .mat-mdc-cell {
                            padding: {
                                top: 21.5px;
                                bottom: 21.5px;
                            }
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                padding-right: 0;
                            }
                        }
                        .daxa-badge {
                            color: white;
                            background: var(--daxaColor);

                            &.in-progress {
                                color: white;
                                background: var(--daxaColor);
                            }
                            &.pending {
                                color: white;
                                background: var(--warningColor);
                            }
                            &.not-started {
                                color: white;
                                background: var(--dangerColor);
                            }
                            &.secondary{
                                color: white;
                                background: #74788d;
                            }
                        }
                        .pr-2 {
                            margin-right: 2px !important;
                        }
                    }
                }
                .add-new-task-btn {
                    padding: {
                        top: 20px;
                        left: 20px;
                        right: 20px;
                    }
                    .mat-mdc-button {
                        padding: 0;
                        height: auto;
                        min-width: auto;
                        font: {
                            size: var(--fontSize) !important;
                            weight: normal;
                        }
                        &:not(:disabled) {
                            color: var(--daxaColor);
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .to-do-list-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                &:last-child {
                                    text-align: left;
                                }
                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    }
                                }
                            }
                            .mat-mdc-cell {
                                &:last-child {
                                    text-align: left;
                                }
                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .user-info {
                .image {
                    width: 50px;
                    line-height: 0.01;

                    img {
                        border-radius: 50%;
                    }
                }
                .info {
                    margin-left: 12px;

                    .title {
                        margin-top: 0;
                        font-size: 18px;
                    }
                    span {
                        font-size: 14px;
                        margin-top: 4px;
                    }
                }
            }
            .mat-mdc-paginator {
                padding: {
                    top: 15px;
                    left: 20px;
                    right: 20px;
                };
            }
        }
    }
}