<div class="add-new-event-popup" [class.active]="classApplied"
[class.rtl-enabled]="themeService.isRTLEnabled()">
<div class="popup-dialog">
    <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">
        <mat-card-header>
            <mat-card-title>
                <h5 class="mt-0 mb-0">
                    Add New Event
                </h5>
            </mat-card-title>
            <mat-card-subtitle>
                <button mat-button (click)="toggleClass()">
                    <i class="ri-close-fill"></i>
                </button>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <label class="main-label d-block lh-1 text-black">
                Event Name
            </label>
            <mat-form-field>
                <mat-label>
                    Event name
                </mat-label>
                <input matInput placeholder="E.g. Project Daxa milestone 1 due next week.">
            </mat-form-field>
            <label class="main-label d-block lh-1 text-black">
                Event Date
            </label>
            <mat-form-field class="date">
                <mat-label>
                    Choose a date
                </mat-label>
                <input matInput [matDatepicker]="eventDate">
                <mat-datepicker-toggle matIconSuffix [for]="eventDate"></mat-datepicker-toggle>
                <mat-datepicker #eventDate></mat-datepicker>
            </mat-form-field>
            <label class="main-label d-block lh-1 text-black">
                Event Time
            </label>
            <mat-form-field>
                <mat-label>
                    Event time
                </mat-label>
                <input matInput placeholder="E.g. 12:00 AM">
            </mat-form-field>
            <div class="btn-box">
                <button mat-button (click)="toggleClass()">
                    Cancel
                </button>
                <button mat-button>
                    Create
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
</div>