<div class="sidebar-area bg-white active" [ngClass]="{'active': isSidebarToggled}"
    [class.component-dark-theme]="themeService.isDark()" [class.dark-sidebar]="themeService.isSidebarDark()"
    [class.right-sidebar]="themeService.isRightSidebar()" [class.hide-sidebar]="themeService.isHideSidebar()"
    [class.card-borderd-theme]="themeService.isCardBorder()" [class.rtl-enabled]="themeService.isRTLEnabled()">
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="assets/images/fostericon.svg" height="45" width="45" alt="logo-icon">
            <span class="fw-semibold">FOSTER</span>
        </a>
    </div>
    <div (click)="toggle()" class="burger-menu" [ngClass]="{'active': isSidebarToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
                    <span class="sub-title text-body">
                        MAIN
                    </span>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    dashboard
                                </i>
                                <span class="title">
                                    Dashboard
                                </span>
                                <span class="daxa-badge">
                                    2
                                </span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">
                                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                    class="sidemenu-link">
                                    Project Management
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/client-analytics" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Client Analytics
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>
                    <a routerLink="/employee-list" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Employee List
                        </span>
                    </a>
                    <a routerLink="/client-list" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Client-List
                        </span>
                    </a>
                    <a routerLink="/todo-list" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Todo-List
                        </span>
                    </a>
                    
                    <a routerLink="/tokens" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Tokens
                        </span>
                    </a>
                    <a routerLink="/ces" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            CES
                        </span>
                    </a>
                    <a routerLink="/monthly-report" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Monthly-Report
                        </span>
                    </a>
                    <a routerLink="/daily-work" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Daily-Work
                        </span>
                    </a>
                    <a routerLink="/task-management" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            ballot
                        </i>
                        <span class="title">
                            Task-Management
                        </span>
                    </a>
                    <a routerLink="/help-desk" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            support
                        </i>
                        <span class="title">
                            Help-Desk
                        </span>
                    </a>
                    <a routerLink="/social-media" class="sidebar-menu-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            support
                        </i>
                        <span class="title">
                           Social Media
                        </span>
                    </a>
                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>