// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$daxa-primary: mat.define-palette(mat.$indigo-palette);
$daxa-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$daxa-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$daxa-theme: mat.define-light-theme((
    color: (
        primary: $daxa-primary,
        accent: $daxa-accent,
        warn: $daxa-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($daxa-theme);

/* You can add global styles to this file, and also import other style files */
:root {
    --fontFamily: 'Outfit', sans-serif;
    --daxaColor: #0f79f3;
    --primaryColor: #796df6;
    --dangerColor: #e74c3c;
    --infoColor: #00cae3;
    --warningColor: #ffb264;
    --successColor: #2ed47e;
    --blackColor: #475569;
    --whiteColor: #ffffff;
    --bodyColor: #919aa3;
    --transition: .5s;
    --fontSize: 16px;
    --borderBoxShadow: rgba(0, 0, 0, .05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: var(--blackColor);
    background-color: #eff3f9;
    font: {
        weight: 400;
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
a {
    transition: var(--transition);
    color: var(--blackColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        text-decoration: none;
        color: var(--daxaColor);
    }
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
img {
    max-width: 100%;
    height: auto;
}
input {
    font: {
        family: var(--fontFamily);
        size: var(--fontSize);
    };
}
button {
    font: {
        family: var(--fontFamily) !important;
        size: var(--fontSize) !important;
    };
}
.mb-25 {
    margin-bottom: 25px !important;
}

// Utilities CSS
@import "./utilities";

// UI Kit CSS
@import "./ui-kit";

// Typography CSS
@import "./typography";

// RTL CSS
@import "./rtl";

// Dark CSS
@import "./dark";

/* Max width 767px */
@media only screen and (max-width : 767px) {

    body {
        font-size: 14px;
    }
    .mb-25 {
        margin-bottom: 15px !important;
    }
    button {
        font-size: 14px !important;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mb-25 {
        margin-bottom: 20px !important;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    body {
        font-size: 15px;
    }
    button {
        font-size: 15px !important;
    }

}

.mat-mdc-card {
    &.daxa-card {
        &.emails-card {
            .mat-mdc-card-content {
                margin: {
                    left: -20px;
                    right: -20px;
                }
                .emails-table {
                    .mat-mdc-table {
                        .mat-mdc-header-cell {
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                padding-right: 0;
                            }
                        }
                        .mat-mdc-cell {
                            padding: {
                                top: 22px;
                                bottom: 22px;
                            }
                            &:last-child {
                                text-align: right;
                            }
                            &:first-child {
                                padding-right: 0;
                            }
                        }
                        .mat-mdc-row {
                            cursor: pointer;

                            &:first-child {
                                .mat-mdc-cell {
                                    border-top: 1px dashed #e0e0e0;
                                }
                            }
                            &:hover {
                                .mat-mdc-cell {
                                    background-color: #eff3f9;
                                }
                            }
                        }
                        .icon {
                            line-height: 1;
                            font-size: 18px;
                            margin-left: 15px;
                            display: inline-block;
                        }
                    }
                }
            }
            &.component-dark-theme {
                .mat-mdc-card-content {
                    .emails-table {
                        .mat-mdc-table {
                            .mat-mdc-row {
                                &:first-child {
                                    .mat-mdc-cell {
                                        border-color: rgba(255, 255, 255, 0.09);
                                    }
                                }
                                &:hover {
                                    .mat-mdc-cell {
                                        background-color: #131920;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .emails-table {
                        .mat-mdc-table {
                            .mat-mdc-header-cell {
                                &:last-child {
                                    text-align: left;
                                }
                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    }
                                }
                            }
                            .mat-mdc-cell {
                                &:last-child {
                                    text-align: left;
                                }
                                &:first-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    }
                                }
                            }
                            .icon {
                                margin: {
                                    right: 15px;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .mat-mdc-card {
        &.daxa-card {
            &.emails-card {
                .mat-mdc-card-content {
                    .emails-table {
                        .mat-mdc-table {
                            .mat-mdc-checkbox {
                                top: -2px;
                            }
                        }
                        .mat-mdc-paginator {
                            padding: {
                                top: 15px;
                                left: 20px;
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.emails-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -15px;
                        right: -15px;
                    }
                    .emails-table {
                        .mat-mdc-table {
                            .mat-mdc-cell {
                                padding: {
                                    top: 15px;
                                    bottom: 15px;
                                }
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .emails-table {
                            .mat-mdc-table {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            right: 15px;
                                        }
                                    }
                                }
                                .mat-mdc-cell {
                                    &:first-child {
                                        padding: {
                                            right: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.emails-card {
                    .mat-mdc-card-content {
                        .contacts-list-table {
                            .mat-mdc-paginator {
                                padding: {
                                    top: 10px;
                                    left: 15px;
                                    right: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.emails-card {
                .mat-mdc-card-content {
                    margin: {
                        left: -20px;
                        right: -20px;
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .emails-table {
                            .mat-mdc-table {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            right: 20px;
                                        }
                                    }
                                }
                                .mat-mdc-cell {
                                    &:first-child {
                                        padding: {
                                            right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .mat-mdc-card {
            &.daxa-card {
                &.emails-card {
                    .mat-mdc-card-content {
                        .contacts-list-table {
                            .mat-mdc-paginator {
                                padding: {
                                    left: 20px;
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mat-mdc-card {
    &.daxa-card {
        &.sidebar-card {
            .mat-mdc-card-content {
                .search-box {
                    margin-bottom: 20px;

                    i {
                        transform: translateY(-50%);
                        color: var(--blackColor);
                        position: absolute;
                        font-size: 18px;
                        left: 13px;
                        top: 50%;
                    }
                    .input-search {
                        height: 45px;
                        font-size: 14px;
                        border-radius: 3px;
                        background: #f4f6fc;
                        color: var(--blackColor);
                        padding: {
                            left: 40px;
                            right: 15px;
                        }
                        &::placeholder {
                            font-weight: 300;
                            color: var(--bodyColor);
                            transition: var(--transition);
                        }
                        &:focus {
                            &::placeholder {
                                color: transparent;
                            }
                        }
                    }
                }
                .btn {
                    &.mat-mdc-button {
                        width: 100%;
                        height: auto;
                        display: block;
                        min-width: auto;
                        border-radius: 3px;
                        padding: 12px 20px;
                        text-align: center;
                        color: var(--whiteColor);
                        background-color: var(--daxaColor);
                    }
                }
                .sidebar-list {
                    margin: {
                        top: 25px;
                        bottom: 22px;
                    }
                    li {
                        margin-bottom: 22px;

                        a {
                            padding-left: 28px;

                            i {
                                transform: translateY(-50%);
                                position: absolute;
                                font-size: 16px;
                                top: 50%;
                                left: 0;
                            }
                            span {
                                font-size: 14px;
                            }
                            &.active {
                                color: var(--daxaColor) !important;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.component-dark-theme {
                .mat-mdc-card-content {
                    .search-box {
                        i {
                            color: var(--whiteColor);
                        }
                        .input-search {
                            background: rgba(255, 255, 255, 0.07);
                            color: var(--whiteColor);

                            &::placeholder {
                                color: rgba(255, 255, 255, 0.5);
                            }
                            &:focus {
                                &::placeholder {
                                    color: transparent;
                                }
                            }
                        }
                    }
                }
            }
            &.rtl-enabled {
                .mat-mdc-card-content {
                    .search-box {
                        i {
                            left: auto;
                            right: 13px;
                        }
                        .input-search {
                            padding: {
                                left: 15px;
                                right: 40px;
                            }
                        }
                    }
                    .sidebar-list {
                        padding-right: 0;

                        li {
                            a {
                                padding: {
                                    left: 0;
                                    right: 20px;
                                }
                                i {
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.sidebar-card {
                .mat-mdc-card-content {
                    .search-box {
                        margin-bottom: 15px;
                    }
                    .sidebar-list {
                        margin: {
                            top: 15px;
                            bottom: 15px;
                        }
                        li {
                            margin-bottom: 15px;

                            a {
                                padding-left: 25px;
                            }
                        }
                    }
                }
                &.rtl-enabled {
                    .mat-mdc-card-content {
                        .sidebar-list {
                            li {
                                a {
                                    padding: {
                                        left: 0;
                                        right: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .mat-mdc-card {
        &.daxa-card {
            &.sidebar-card {
                .mat-mdc-card-content {
                    .search-box {
                        margin-bottom: 20px;
                    }
                    .sidebar-list {
                        margin: {
                            top: 20px;
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mat-mdc-card {
        &.daxa-card {
            &.sidebar-card {
                .mat-mdc-card-content {
                    .sidebar-list {
                        margin: {
                            top: 25px;
                            bottom: 20px;
                        }
                        li {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
